.middle {
  width: 80px;
}

.playtimesource {
  width: 190px;
}

.right {
  width: 150px;
}

.reason {
  resize: none;
  min-height: 40px;
  width: 340px;
}

.rolegroup {
  box-sizing: border-box;
  padding: 3px;
  width: 430px;
  border: none;
  text-align: center;
  outline: none;
  display: inline-block;
}

.playtimeroles {
  width: 100%;
  min-width: 0;
}

.playtimeroles .column {
  width: 430px;
  max-width: 100%;
  margin-bottom: 8px;
}

.playtimeroles .longcolumn {
  clear: both;
  width: 860px;
  max-width: 100%;
}

.long {
  width: 860px;
  max-width: 100%;
}

.content {
  box-sizing: border-box;
  text-align: center;
}

.longcolumn .content {
  width: 860px;
  max-width: 100%;
}

.command {
  background-color: #948f02;
}

.centralcommand {
  background-color: #69ff69;
}

.security {
  background-color: #a30000;
}

.engineering {
  background-color: #fb5613;
}

.medical {
  background-color: #337296;
}

.science {
  background-color: #993399;
}

.supply {
  background-color: #a8732b;
}

.silicon {
  background-color: #ff00ff;
}

.abstract {
  background-color: #708090;
}

.service {
  background-color: #6eaa2c;
}

.ghostandotherroles {
  background-color: #5c00e6;
}

.antagonistpositions {
  background-color: #6d3f40;
}

.playtimebanoptions {
  background-color: #445a67;
}

.undefineddepartment {
  background-color: #111cf7;
}
