// THIS IS A NOVA SECTOR UI FILE
.LimbsPage {
  &__hover-text {
    position: relative;
    display: block;
  }

  &__hover-text--tooltip {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    left: 0;
    background: #0f0505;
    color: #00e5d4;
    padding: 4px 8px;
    font-size: 11px;
    white-space: normal;
    word-break: break-word;
    max-width: 250px;
    z-index: 100;
    pointer-events: none;
    border: 1px solid #c0152a;
    box-shadow: 0 0 8px #c0152a99, inset 0 0 8px #c0152a11;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}