<<<<<<< HEAD
@use 'sass:color';
@use 'sass:math';
@use '../base';
@use '../functions';
@use '../colors';

$msgcolor-outgoing: hsl(213, 50%, 35%);
$msgcolor-incoming: hsl(213, 0%, 20%);
$msgcolor-subtle-outgoing: hsl(281, 39%, 59%); // NOVA EDIT ADDITION
$msgcolor-subtle-incoming: hsl(281, 15%, 59%); // NOVA EDIT ADDITION

$msgpadding: 0.7rem;

// very nasty theme hacks inbound

.theme-ntOS95 {
  .NtosChatMessage {
    color: white !important;

    padding: $msgpadding - base.rem(2px);

    border-radius: 0;

    background-color: color.adjust($msgcolor-incoming, $lightness: 10%);
    &_outgoing {
      border-color: color.adjust($msgcolor-outgoing, $lightness: 20%);
      background-color: color.adjust($msgcolor-outgoing, $lightness: 30%);
    }
=======
/* Some themes have bad contrast on primary color */
.NtosChatMessage {
  .theme-ntOS95 & {
    --color-primary: var(--color-section);
    border: var(--border-thickness-small) outset var(--95-outline);
>>>>>>> d7d22f7c8... [TGUI v6] Migration to CSS Variables, styles refactor & React 19 (#90424)
  }

  .theme-ntos_terminal & {
    --color-primary: hsl(from var(--terminal-color) h s calc(l - 40));
  }
}

.NtosChatMessage {
  display: inline-flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 0;
  padding: var(--space-sm) var(--space-ml);
  border-radius: var(--border-radius-small);
  background-color: hsl(from var(--color-primary) h s calc(l - 12.5));

  &_outgoing {
    @extend .NtosChatMessage;
    background-color: hsl(from var(--color-primary) h s calc(l + 7.5));
    text-align: right;
    float: right;
  }
  // NOVA EDIT ADDITION START
  &_subtle_outgoing {
    @extend .NtosChatMessage;
    background-color: $msgcolor-subtle-outgoing;
    text-align: right;
    float: right;
  }

  &_subtle {
    @extend .NtosChatMessage;
    background-color: $msgcolor-subtle-incoming;
  }
  // NOVA EDIT ADDITION END

  &__timestamp {
    height: 0.9rem;
    margin-top: var(--space-sm);
    margin-left: var(--space-m);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    min-width: 9rem;
    overflow-wrap: break-word;
    text-align: left;
    word-break: break-all;
  }

  &__everyone {
    margin-top: var(--space-m);
    font-size: 0.8rem;
    color: lightgrey;
  }

  &__image {
    image-rendering: pixelated;
    align-self: flex-start;
    margin-top: var(--space-m);
    max-width: 25rem;
  }
}

.NtosChatLog {
  padding: var(--space-l);
  min-height: 99.5%;
  margin: 0;
}

.NtosChatLog__ImagePreview {
  width: fit-content;
  height: fit-content;

  & img {
    image-rendering: pixelated;
    height: auto;
    width: 30rem;
    justify-self: center;
    align-self: center;
  }
}

.UnreadDivider {
  position: relative;
  display: flex;
  font-size: 1rem;
  text-align: center;

  & > span {
    color: var(--color-red);
  }

  & > div {
    display: inline-flex;
    flex: 1;
    border-bottom: var(--border-thickness-small) solid var(--color-red);
    height: 50%;

    &:last-child {
      margin-left: 1%;
    }

    &:first-child {
      margin-right: 1%;
    }
  }
}
